html, body{
	margin:0px; 
	padding:0px;
	background-color:  rgba(41, 34, 28);	
	/*background-image: url("mini_R34.jpg");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

.header{
	margin: 0px;
    padding: 0px;
	width: calc(100%);
	height: calc(20%);
	white-space: nowrap;
	vertical-align: bottom;
	text-align: center;
	background-color: rgba(87, 73, 61);
	display: flex;
}

.header-text{
	font-family: 'Lato', sans-serif;
	margin: 0;
	/*display: table-cell;
	vertical-align: bottom;*/
	width: calc(100%);
	font-size:4vw;
	align-self: flex-end;	
}

.section-header-div {
	font-family: 'Lato', sans-serif;
	color: white;
	display: inline-block;
	vertical-align: center;
}

.section-header{
	/* width : calc(100%); */
	font-size:2.5vw;
	margin-top: calc(30%);
	margin-bottom: calc(5%);
}

.photo{
	color:rgb(174,170,176);
}

.baum{
	color: white;
} 

.pages {
	margin: 0px;
    padding: 0px;
	width: calc(100%);
	height: calc(70%);
	white-space: nowrap;
	text-align: center;
	vertical-align: center;
}

.nav-bar-2{
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(1%);
	margin-top: 0;
	list-style-type: square;
	text-align: center;
	vertical-align: center;
	font-size: 1.25vmax;
}

.nav-bar-2 li{
	text-align: center;
	width: calc(100%);
	margin: 0em;
	padding-left: 0;
	padding-right: 0;
	padding-top: calc(1%);
	font-family: 'Lato', sans-serif;
	font-size: 1.5em;
	color:white;
}
 
.nav-bar-2 li:hover { 
	cursor: grabbing;
	/* transition: background 1s ease 0s;	 */
	/* background: rgb(74,70,76); */
	color: rgba(227, 213, 157);	
}

.abstract li{
	text-align: center;
	/* width: calc(10%); */
	margin-top: 3%;
	margin-bottom: 3%;
	margin: 0em;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color:white;
}

.abstract li:hover { 
	cursor: grabbing;
	/* transition: background 0.5s ease 0s;	 */
	/* background: rgb(74,70,76); */
	color: rgba(227, 213, 157);	
}

@media screen and (max-width: 1000px) {
	.header-text{
		font-size:5vmin;
	}

	.nav-bar{
		font-size: 2.25vmin;
	}

  }